@font-face {
  font-family: 'Modern Antiqua';
  font-style: normal;
  font-weight: 400;
  src: local('Modern Antiqua Regular'), local('ModernAntiqua-Regular'), url(https://fonts.gstatic.com/s/modernantiqua/v7/NGStv5TIAUg6Iq_RLNo_2dp1sL1DYWo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  font-family:'Modern Antiqua';
  font-size:16px;
}

body {
  background-color:#78909c;
}

.spell {
  width:75;
  height:75;
  border:3px solid black;
  border-radius:4px;
  cursor:pointer;
}

td {
  padding:0;
  margin:10px;
}

@keyframes squish {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.88);
  }
}

.spell:active {
  animation-name:squish;
  animation-duration:0.4s;
}

table {
  border-spacing:10px;
  border-collapse:seperate;
}

.largetext {
  font-size:36px;
}


.button {
  height:15px;
  width:40px;
  padding:2px;
  border:1.5px solid black;
  border-radius:2px;
}
