.spell {
  width:128px;
  height:128px;
  border:3px solid black;
  border-radius:2px;
}

@keyframes squish {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.85);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1)
  }
}

.spell:active {
  animation-name:squish;
  animation-duration:0.4s;
}

.monster {}

.button {}
