.spell {
  width:75;
  height:75;
  border:3px solid black;
  border-radius:2px;
  padding:0;
  margin:10px;
}

@keyframes squish {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(0.88);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1)
  }
}

.spell:active {
  animation-name:squish;
  animation-duration:0.4s;
}

.monster {}

.button {}
